h1,h2,p {
    text-align: center;
  }

  /* Light Gray Background */
  body {
  background-color: #d3d3d3;
}
 h1 {
    background-color: coral;
    font-size: 50px;
 }
 
 .mylogo, .ferg {
    text-align: center;
 }

 
 /* Making Images Same size */
 img{
    max-width: 50%;
    max-height: 50%;
    margin-left: auto;
    margin-right: auto;
}

footer {
   background-color: coral;
}

/* Spacing between margin and heading title */
h2 {
   font-size: 25px;
   margin-top: 25px;
   margin-bottom: 25px;
}

* {
   font-family: Times, "Times New Roman";
} 

/* Orange Border */
hr {
   border-color: coral;
   border-width: 2px;
}

/* Upcoming */
ul {
   color: purple;
   font-size: 30px;
   text-align: center;
}
